.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.modalImage {
  max-width: 90%;
  max-height: 80vh;
}

.text {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
}

.btnModal {
  width: 1em;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  cursor: pointer;
}
